# EmailJS (https://www.emailjs.com)
# Inscrivez-vous sur emailjs.com et créez un service + template
VITE_EMAILJS_SERVICE_ID=service_twygsiu
VITE_EMAILJS_TEMPLATE_ID=template_eisjx29
VITE_EMAILJS_PUBLIC_KEY=HPFhzz0G90X4in_-n
